<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <script src="/assets/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.css">
    <script src="/assets/app.js"></script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="app">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Social Image</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <<ul class="right">
            <% if user_signed_in? %>
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
                <% if params[:action] == 'index' %>
                    <li><%= link_to "User Login", new_user_session_path %></li>
                <% end %>
            <% end %>
    </ul>
      </section>
    </nav>



    <%= yield %>

    <%= javascript_include_tag "application" %>
    <div id="imgModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <img src="images/{{image}}">
      <ul>
        <li ng-repeat="tag in tags">
          <p>{{tag}}</p>
        </li>
        <button id="newTagButton" ng-show="user_has_access">New Tag</button>
      </ul>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </body>
</html>
