<div style="margin-top: 5em;">
  <div ng-show="page == 'home'" id="home_text" class="large-6 row content_text show-hide-transition">
    <h2 style="text-align: center;"> Welcome to the Chico Youth Courts home page </h2>
    <img src="/images/cyc_logo.jpg">
  </div>

  <div ng-show="page =='about'" id="about_text" class="large-6 row content_text show-hide-transition">
    <h2 style="text-align: center;"> About Chico Youth Court </h2>
    <br>
    <p>\{{about_text}}</p>
  </div>

  <div ng-show="page =='history'" id="history_text" class="large-6 row content_text show-hide-transition">
    <h2 style="text-align: center;"> History </h2>
    <br>
    <p>\{{history_text}}</p>
  </div>

  <div ng-show="page =='blog'" class="large-6 row content_text show-hide-transition">
    <h2 style="text-align: center;"> CYC Blog </h2>
    <br>
    <a href="#" ng-show="user['type'] == 'admin'" ng-click="new_blog()">New Post</a>
    <div ng-show="new_blog_post" class="show-hide-transition">
      <h3>New Post</h3>
      <input type="text" id="blog_title" placeholder="title">
      <div id="blog_edit"></div>
      <button type="button" name="blog_submit" ng-click="blog_submit('new')">Save</button>
    </div>
    <div class="row blog_display show-hide-transition" ng-repeat="blog in blogs" class="content_text">
      <h2 id="\{{$index}}_title">\{{blog.title}}</h2>
      <p id="\{{$index}}_text">\{{blog.text}}</p>
      <p>posted by: \{{blog.author}} \{{blog.date}}</p>
      <p id="\{{$index}}_id" style="display: none;" data-index="\{{$index}}">\{{blog._id}}</p>
      <div class="" id="\{{$index}}_edit"></div>
      <button type="button" name="blog_submit" ng-show="blog_edit[$index]" ng-click="blog_submit($index)">Save</button>
      <a href="#" ng-show="user['type'] == 'admin' && !(blog_edit[$index])" ng-click="edit_blog($index)">edit</a>
      <a href="#" ng-show="user['type'] == 'admin'" ng-click="delete_blog($index)">delete</a>
      <br>
    </div>
  </div>

</div>
